{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}

    <!-- Blog Details Hero Section Begin -->
{% for i in blog %}
    <section class="blog-details-hero set-bg" data-setbg="{{ i.image.url }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bd-hero-text">
                        <span>Real Estate</span>
                        <h2>{{ i.title }}</h2>
                        <ul>
                            <li><i class="fa fa-user"></i> {{ i.writer }}</li>
                            <li><i class="fa fa-clock-o"></i> {{ i.date }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--  Blog Details Hero Section Begin -->

    <!-- Blog Details Section Begin -->
                {{ i.description|safe }}
                    <div class="tag-share-option">
                        <div class="tags">
                            {% for j in tag %}
                                <a href="#">{{ j }}</a>
                            {% endfor %}
                        </div>
                        <div class="social-share">
                            <span>Share:</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>You May Also Like</h2>
                    </div>
                </div>
                {% for i in some %}
                <div class="col-lg-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="{{ i.image.url }}" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> {{ i.writer }}</li>
                                <li><i class="fa fa-clock-o"></i> {{ i.date }}</li>
                            </ul>
                            <h4><a href="{% url 'blog_detail' i.url %}">{{ i.title }}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Partner Carousel Section Begin -->
    <div class="partner-section">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="/media/img/partner/partner-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="/media/img/partner/partner-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="/media/img/partner/partner-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="/media/img/partner/partner-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="/media/img/partner/partner-5.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Partner Carousel Section End -->

{% endblock %}